<div class="container">

      <%= form_for(resource, as: resource_name, :html => {:class => 'form-signin'}, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <h2 class="form-signin-heading">Sign Up</h2>
        <%= f.email_field :email, autofocus: true, :class=>'form-control'%>
        <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %>
        <%= f.password_field :password, autocomplete: "off", :class=>'form-control'%>
        <%= f.password_field :password_confirmation, autocomplete: "off", :class=>'form-control'%>
      	<%= f.submit "Sign Up", :class=>'btn btn-lg btn-primary btn-block'%>
      	<%= render "devise/shared/links" %>
      <%end%>

</div>
